<h2>WSJT-X Companion</h2>
<div class="control-bar">
    <p>
        <span [class.disconnected]="status === 'disconnected'" [class.listening]="status === 'listening'" [class.connected]="status === 'connected'" class="status-badge"></span>
        {{statusString}}
    </p>
</div>

<div class="filters">
    <mat-checkbox [(ngModel)]="cqOnly">CQ Only</mat-checkbox>
</div>

<table class="table" *ngIf="status === 'connected'">
    <thead>
        <tr>
            <th>UTC Time</th>
            <th>dB</th>
            <th>DT</th>
            <th>Freq</th>
            <th>Message</th>
            <th>Distance</th>
            <th>Azimuth</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let message of filteredMessages" 
            [class.isCQ]="message.isCQ" 
            [class.isMyCall]="message.toCall === mycall"
            [class.lotwActivity]="hasLotwActivity(message)">
            <td>{{message.timeString}}</td>
            <td>{{message.snr.toFixed(0)}}</td>
            <td>{{message.deltaTime.toFixed(1)}}</td>
            <td>{{message.deltaFrequency.toFixed(0)}}</td>
            <td>{{message.message}}</td>
            <td>{{computeDistanceKm(message)}}</td>
            <td>{{computeAzimuth(message)}}</td>
        </tr>
    </tbody>
</table>