<h2>Settings</h2>

<mat-form-field>
    <mat-label>My Callsign</mat-label>
    <input matInput type="text" maxlength="6" pattern="[A-Za-z0-9]{1,6}" [(ngModel)]="callsign" />
</mat-form-field>

<mat-form-field>
    <mat-label>My Grid Code</mat-label>
    <input matInput type="text" maxlength="6" pattern="[A-Za-z]{2}[0-9]{2}([A-Za-z]{2})?" [(ngModel)]="gridCode" />
</mat-form-field>

<div class="action-row">
    <button mat-raised-button color="primary" (click)="saveSettings($event)">Save Settings</button>
</div>