.band-plan-graphic {
    max-width: 500px;
}

.band-stacked-row {
    height: 1rem;
    border-bottom: solid 1px black;
}

.top-freq-indicator {
    .cw-end-freq {
        margin-left: 1.5rem;
    }

    .cw-end-line {
        display: block;
        height: 1rem;
        border-left: solid 1px black;
        margin-left: 2rem;
    }
}

.band-row {
    display: flex;
    margin-left: 1rem;

    .band-row-segments {
        flex: 1 auto;
        margin-right: 0.5rem;
        border-left: solid 1px black;
        border-right: solid 1px black;
        border-top: solid 1px black;
        text-align: center;
        font-weight: bold;
        font-style: italic;

        .cw-only {
            width: 1rem;
            border-right: solid 1px black;
            float: left;
        }
    }

    .license-classes {
        margin-top: 0.25rem;
    }
}

.freq-indicators {
    display: flex;
    padding-right: 1rem;

    .power-limit {
        flex: 1 auto;
        text-align: center;
    }
}

.eirp-note {
    font-size: 0.6rem;
    font-style: italic;
    margin-left: 1rem;
}