<mat-drawer-container class="h-screen w-screen" [hasBackdrop]="true">
    <mat-drawer #drawer mode="side">
        <mat-nav-list (click)="drawer.toggle()">
            <a mat-list-item routerLink="/" routerLinkActive="active">
                <mat-icon>home</mat-icon>
                Home
            </a>
            <a mat-list-item routerLink="/map" routerLinkActive="active">
                <mat-icon>map</mat-icon>
                World Map
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar class="sticky pin-x pin-t" color="primary">
            <button type="button" mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            Amrato v{{version}}
        </mat-toolbar>
        <section id="main">
            <router-outlet></router-outlet>
        </section>
    </mat-drawer-content>
</mat-drawer-container>