<mat-drawer-container class="h-screen w-screen" [hasBackdrop]="true">
    <mat-drawer #drawer mode="side">
        <mat-nav-list (click)="drawer.toggle()">
            <a mat-list-item routerLink="/" routerLinkActive="active">
                <mat-icon>home</mat-icon>
                Home
            </a>
            <a mat-list-item routerLink="/band-plan" routerLinkActive="active">
                <mat-icon>line_style</mat-icon>
                Band Plan
            </a>
            <a mat-list-item routerLink="/map" routerLinkActive="active">
                <mat-icon>map</mat-icon>
                World Map
            </a>
            <a mat-list-item routerLink="/wsjtx" routerLinkActive="active">
                <mat-icon>language</mat-icon>
                WSJT-X Companion
            </a>
            <a mat-list-item routerLink="/settings" routerLinkActive="active">
                <mat-icon>settings</mat-icon>
                Settings
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content fxLayout="column" fxFlexFill>
        <mat-toolbar class="d-flex sticky pin-x pin-t" color="primary" fxFlex="64px">
            <div class="flex-left">
                <button type="button" mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                Amrato
            </div>
            <div class="flex-right">
                {{datetime}}
            </div>
        </mat-toolbar>
        <section id="main" fxFlex>
            <router-outlet class="hidden-router"></router-outlet>
        </section>
    </mat-drawer-content>
</mat-drawer-container>